@{
    ViewData["Title"] = "Home Page";
    bool erro = Convert.ToBoolean(TempData["erroLogin"] ?? false);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <!-- inicio barra superior -->
    <header>
        <nav>
            <a class="logo" href="/">Rocket Learning</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a a asp-controller="Home" asp-action="Sobre">Sobre</a> </li>
                <li><a a asp-controller="Home" asp-action="Cadastrar">Cadastre-se</a> </li>
                <li><a a asp-controller="Home" asp-action="Index">Login</a> </li>
            </ul>
        </nav>
    </header>
    <!-- fim barra superior -->


    <div id="login-container">
        <h1>Login</h1>
        <form method="post" action="/Usuario/VerificarLogin">
            <input type="email" name="email" id="email" placeholder="Digite seu E-mail" autocomplete="off">
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <a a asp-controller="Home" asp-action="RecuperarSenha" id="forgot-pass">Esqueceu a senha?</a>
            <input type="submit" value="Login">
        </form>
        <div id="register-container">
            <p>Ainda não tem uma conta?</p>
            <a a asp-controller="Home" asp-action="Cadastrar">Cadastre-se</a>
        </div>

        @if (erro == true)
        {
            <div class="mensagem-erro" id="erroLogin" style="display: block">
                Email ou Senha incorretos.
            </div>
        }
        else
        {
            <div class="mensagem-erro" id="erroLogin" style="display: none">
                Email ou Senha incorretos.
            </div>
        }

        <style>

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Helvetica;
                color: #ececec;
                border: none;
            }

            body {
                background-image: url('../img/background.jpg');
                background-size: cover;
                background-position-y: -200px;
                background-color: #292b2f;
            }

            textarea:focus, input:focus {
                outline: none;
            }

            a {
                font-size: .8rem;
            }

                a:hover {
                    color: #208888;
                }



            /* container login */
            #login-container {
                background-color: #202225;
                margin-left: auto;
                margin-right: auto;
                width: 400px;
                padding: 20px 30px;
                margin-top: 15vh;
                border-radius: 10px;
                text-align: center;
                box-shadow: 0px 10px 40px #1b1b1b;
            }

            /* formulário */
            form {
                margin-top: 30px;
                margin-bottom: 40px;
            }

            label, input {
                display: block;
                width: 100%;
                text-align: left;
            }

            label {
                font-weight: bold;
                font-size: .8rem;
            }

            input {
                border-bottom: 2px solid #323232;
                padding: 10px;
                font-size: 1rem;
                margin-bottom: 20px;
                border-radius: 5px;
                background-color: #202225;
            }

                input:focus {
                    border-bottom: 2px solid #1eb9b9;
                }

                input::placeholder {
                    color: #c6cdd5;
                }

            #forgot-pass {
                display: block;
                text-align: right;
            }

            input[type="submit"] {
                text-align: center;
                text-transform: uppercase;
                border: none;
                height: 40px;
                border-radius: 20px;
                margin-top: 30px;
                cursor: pointer;
                color: #1B223C;
                background-color: #1eb9b9;
                font-weight: bold;
            }

                input[type="submit"]:hover {
                    background-color: #208888;
                    transition: .5s;
                }


            /* registrar */
            #register-container p {
                margin-bottom: 20px;
            }



            /* */

            /* INICIO NAVBAR */
            header {
                margin: 0;
                padding: 0;
            }

            a {
                color: #fff;
                text-decoration: none;
                transition: 0.3s;
            }

                a:hover {
                    opacity: 0.7;
                }

            .logo {
                font-size: 24px;
            }

            nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-family: Helvetica, Arial;
                background: #202225;
                height: 8vh;
            }

            .nav-list {
                list-style: none;
                display: flex;
            }

                .nav-list li {
                    margin-left: 32px;
                }

            li a {
                font-size: 16px; /* tamanho da fonte desejado */
                font-weight: 600;
            }
            /**/

            /*INICIO MENSAGEM DE ERRO*/
            .mensagem-erro {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                background-color: #eebec2;
                border-color: #eebec2;
                color: #92363f;
                width: 200px;
                padding: 2.5px 10px;
                /*margin-bottom: 10rem;*/
                border: 1px solid transparent;
                border-radius: 0.25rem;
            }

                .mensagem-erro.visible {
                    display: block;
                }

                .mensagem-erro.hidden {
                    display: none;
                }
            /*FIM MENSAGEM DE ERRO*/

        </style>

    </div>
</body>
</html>
